<section id='write-post'>
  <div class='blogContainer pt-5'>
    <form id='post-form' class='newBlogForm'>
      <div class='form-group'>
        <label for='title' class='h3'>Blog Title:</label>
        <input type='text' class='form-control' name='title' id='blogTitle' />
      </div>
      <div class='form-group'>
        <label for='body' class='h3'>What Would You Like to Blog About?</label>
        <textarea class='form-control' id='blogBody' rows='6'></textarea>
      </div>
      <button
        href=''
        type='submit'
        id='blogSubmit'
        class='btn bg-dark text-white'
      >Post Blog</button>
    </form>
  </div>
</section>

<script src='/js/newblog.js'></script>